.form.main__form
	.subtitle.form__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	.form__outer-wrap

		.form__img-wrap
			.form__img

		form.form__wrap
			.form__inputs-wrap
				.form__input-wrap
					.form__input-i
						label.link.form__label(for='formInput1') First name
					.form__input-i
						input#formInput1.input.input_wide.form__input(type='text' placeholder='First name')

				.form__input-wrap
					.form__input-i
						label.link.form__label(for='formInput2') Last name
					.form__input-i
						input#formInput2.input.input_wide.form__input(type='text' placeholder='Last name')

				.form__input-wrap
					.form__input-i
						label.link.form__label(for='formInput3') E-mail
					.form__input-i
						input#formInput3.input.input_wide.form__input(type='email' placeholder='E-mail')

			.form__btn-wrap
				input.btn(type='submit' value='Lorem ipsum')