block vars

doctype html
html(lang="ru")
	head
		block head
			include ../partials/head

		title #{page.title} | #{global[0].name}
	body
		.wrapper
			include ../partials/toggle
			include ../partials/header

			main.main
				block content

			// END OF VISIBLE CONTENT

			include ../partials/aside
			include ../partials/modal
			include ../partials/up