$name: header;

.#{$name} {
	background: $color-text;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;

	&__wrap {
		display: flex;
		justify-content: space-between;
		height: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&__col {
		display: flex;
		align-items: center;

		&_hidden-desktop {

			@include screen-md() {
				display: none;
			}
		}

		&_hidden-mobile {

			@include screen-md(max) {
				display: none;
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		height: calc(#{$header-height} - 20px);
	}

	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
}