$name: link;

.#{$name} {
	text-decoration: none;
	color: $color-second;
	transition: $duration ease;

	@include screen-sm(max) {
		font-size: 2.3rem;
	}

	&:hover {
		color: $color-second-hover;
	}

	&:focus {
		color: $color-second-focus;
		outline: none;
	}

	&:active {
		color: $color-second-active;
	}

	&_disabled {
		color: $color-second-disabled;

		&:hover,
		&:focus,
		&:active {
			color: $color-second-disabled;
		}
	}
}