$name: main;

.#{$name} {
	padding-top: $header-height;
	min-height: 100%;

	&__space-bot {
		margin-bottom: 6rem;
	}

	&__space-bot_md {
		margin-bottom: 4rem;
	}

	&__space-bot_sm {
		margin-bottom: 2rem;
	}

	&__slider {
		margin-bottom: 3rem;
	}

	&__form {
		margin-left: -15px;
		margin-right: -15px;

		@include screen-sm() {
			margin-left: auto;
			margin-right: auto;
		}

		@include screen-lg() {
			width: 90%;
		}
	}

	&__text-wrap {

		@include screen-md() {
			margin: 0 auto;
			width: 90%;
		}

		@include screen-lg() {
			width: 80%;
		}
	}
}