$name: title;

.#{$name} {
	font-family: $font-second;
	text-transform: uppercase;
	font-size: 5.2rem;
	font-weight: normal;
	letter-spacing: -.025em;
	line-height: 1;
	text-align: center;

	@include screen-sm() {
		line-height: .9;
	}

	&__head {
		display: block;

		@include screen-sm() {
			display: inline-block;
		}
	}

	&__tail {
		display: block;
		color: $color-second;

		@include screen-sm() {
			display: inline-block;
			margin-left: .2em;
		}
	}

	&_lg {
		font-size: 8.2rem;
	}

	&_sm {
		font-size: 1.8rem;
		line-height: 1.4;
		letter-spacing: 0;
	}

	&_white {

		.#{$name} {
			// =====

			&__head {
				color: white;
			}

			&__tail {
				color: $color-main;
			}
		}
	}

	&_col {

		.#{$name} {
			// =====

			&__head,
			&__tail {

				@include screen-sm() {
					display: block;
				}
			}

			&__tail {

				@include screen-sm() {
					margin-left: 0;
				}
			}
		}
	}
}