$name: slider-lg;

.#{$name} {
	position: relative;
	min-height: calc(100vh - 8rem);

	.#{$name}__item {
		display: flex;
	}

	&__item {
		min-height: calc(100vh - 8rem);
	}

	&__i {
		width: 100%;
		min-height: calc(100vh - 8rem);
		background: no-repeat center / cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 7rem 0 14rem;
	}

	&__dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 1rem;

		@include screen-sm(max) {
			left: 0;
			width: 100%;
			transform: none;
			text-align: center;
		}

		li {
			display: inline-block;
			padding: 2rem 1rem;
			cursor: pointer;

			&:hover {

				.#{$name} {
					// =====

					&__dot {
						background-color: $color-main;
					}
				}
			}

			&:active {

				.#{$name} {
					// =====

					&__dot {
						background-color: $color-main-active;
					}
				}
			}

			&.slick-active {
				cursor: default;

				.#{$name} {
					// =====

					&__dot {
						background-color: $color-main;
						transform: scale(1.5);
					}
				}
			}
		}
	}

	&__dot {
		width: 1rem;
		height: 1rem;
		background-color: white;
		border-radius: 50%;
		transition: $duration ease;
	}
}