.section.section_pad_none
	include ../components/slider-lg

.section.section_spray_1

.section(style='background-image: url(img/content/img-1.jpg);')
	.container

		h2.title.title_white.main__space-bot
			span.title__head Lorem
			span.title__tail 3

		.subtitle.subtitle_white.main__space-bot_sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

		.subtitle.subtitle_white.subtitle_sm.main__space-bot_sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

		.subtitle.subtitle_colored.subtitle_sm.main__space-bot_sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

		.subtitle.subtitle_white.main__space-bot_sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		.text-center
			a.btn(href='#') Lorem ipsum

.section.section_spray_2.section_gray