html {
	box-sizing: border-box;
	height: 100%;
	font-size: 6px;

	@include screen-sm() {
		font-size: 7px;
	}

	@include screen-md() {
		font-size: 8px;
	}

	@include screen-lg() {
		font-size: 9px;
	}

	@include screen-xl() {
		font-size: 10px;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font-size: 1.8rem;
	font-family: $font-main;
	color: $color-text;
	line-height: 1.4;

	&.noscroll {
		overflow: hidden;
	}
}

input,
textarea {
	// appearance: none;
	// border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

hr {
	margin: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

p {
	margin: 1em 0;
}

::selection {
	color: white;
	background: $color-second-focus;
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100%;

	@include screen-sm() {
		width: 540px;
	}

	@include screen-md() {
		width: 720px;
	}

	@include screen-lg() {
		width: 960px;
	}

	@include screen-xl() {
		width: 1140px;
	}
}