// ASIDE
aside.aside

	ul.aside__list

		each val in menu
			li.aside__item
				a.aside__link.js-scroll(href= val.link)
					span.aside__link-i= val.name

		li.aside__item.aside__item_bottom
			a.aside__link(href='#' data-modal='modal')
				span.aside__link-i Modal dialog