// HEADER
header.header
	.header__wrap.container

		.header__col.header__col_not-flexible
			a.logo.header__logo(href='/')
				img.logo__img(src='img/logo.png' alt='')

		.header__col.header__col_hidden-mobile
			ul.menu

				each val, i in menu
					li.menu__item
						a.menu__link.js-scroll(href= val.link)= val.name

		.header__col.header__col_not-flexible.header__col_hidden-mobile
			a.btn(href='#' data-modal='modal') Modal dialog