// MODAL
#modal.modal
	.modal__wrap

		.modal__head
			h4.subtitle Lorem ipsum dolor
			button.modal__close

		.modal__body
			form
				input.input.input_wide.modal__input(type='text' placeholder='First name')
				input.input.input_wide.modal__input(type='text' placeholder='Last name')
				input.input.input_wide.modal__input(type='email' placeholder='E-mail')
				textarea.input.input_wide.modal__input(placeholder='Comment')
				input.btn(type='submit' value='Submit')